<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAoa5nOzZXkOna6qwInl08EyGUKBAEzl0s</string>
	<key>GCM_SENDER_ID</key>
	<string>333365563664</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterSocialApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-social-app-c10ba</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-social-app-c10ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:333365563664:ios:021d77ac21ed017c70d595</string>
</dict>
</plist>